<%=  form_for :tour do |f| %>

<%= stylesheet_link_tag "application", "tours","style_quote"%>

  <h1 class="header">Koszyk</h1>

  <script>
      function showGuides () {
        // Get the checkbox
        var checkBox = document.getElementById("guide");
        // Get the output text
        var text = document.getElementById("guides_list");

         // If the checkbox is checked, display the output text
        if (checkBox.checked == true){
            text.style.display = "block";
        } else {
          text.style.display = "none";
        }
      }
  </script>

  <% if @cart.empty?%>
    <p>Koszyk jest pusty</p>
  <% else %>
   <% if @cart.size < 3%>
    <p> Aby utworzyć optymalny plan dodaj więcej atrakcji. </p>
    <% else %>
  <h1>Zawartość:</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="colgroup" class="centered-cell">Nazwa obiektu</th>
        <th scope="colgroup" class="centered-cell">Kategoria</th>
        <th scope="colgroup" class="centered-cell">Oplata</th>
        <th scope="colgroup" class="centered-cell">Czas zwiedzania</th>
        <th scope="colgroup" ></th>
<!--        <th colspan="3"></th>-->
      </tr>
      <colgroup>
        <col style="width:40%">
        <col style="width:20%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:10%">
      </colgroup>
      </thead>
      <tbody>
      <% @cart.each do |attraction| %>
        <tr>
          <td>
            <%#= link_to attraction, class: "hyperlink" do %>
              <%= attraction.name %>
            <%#= end %>
          </td>
          <td><% attraction.categories.each do |category| %>
              <%= category.name %>
            <% end %>
          </td>
          <td class="centered-cell"><% if attraction.price > 0%>
              <strong>Opłata:</strong>
              <%= attraction.price %>
            <%else %>
              <strong>Obiekt bezpłatny</strong>
            <%end %></td>
          <td class="centered-cell"><%= attraction.sightseeing_time %> minut</td>
          <td><%= link_to "Usuń z koszyka", remove_from_cart_path(attraction), method: :delete, class:"btn btn-danger"%></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <blockquote>
          Musisz wybrać atrakcje początkową i końcową, aby wygenerować optymalną trasę.<br/>
        <b>UWAGA!</b> Możesz wybrać taką samą atrakcję na początek i koniec trasy. Na wygenerowanej mapie będzie oznaczony jako jeden znacznik.
    </blockquote>

    Wybierz atrakcję z której rozpoczniesz podróż:
    <%= f.select( :attraction_start_id, options_from_collection_for_select( @cart, "id", "name"))%><br/><br/>
    Wybierz atrakcję na której zakończysz podróż:
    <%= f.select(:attraction_end_id, options_from_collection_for_select( @cart, "id", "name"))%> <br/> <br/>
   Wybór przewodnika: (jeśli chcesz utworzyć trasę bez przewodnika, wybierz pole "brak)
      <%= f.select(:guide_id, options_from_collection_for_select(Guide.all, "id", "name_and_surname"), {:include_blank => 'Brak'}) %><br/> <br/>
     Wybór biletu:
      <%= f.select(:discount_id, options_from_collection_for_select(Discount.all, "id", "name"), {:include_blank => 'Normalny'}) %> <br/> <br/>
      <div class="actions">
      <%= f.submit "Utwórz trasę!",class: "btn btn-outline-success"%>
    </div>
    <br>
  <% end %>
  <% end %>
<% end %>


