<!DOCTYPE html>
<html>

<%= stylesheet_link_tag "application", "tours"%>

<p id="notice"><%= notice %></p>

<h1 class="header">Przykładowe trasy</h1>
<p>Brak pomysłu na wycieczkę?</p>
<p>Skorzystaj z proponowanych tras:</p>
<br>

<body>
  <% @tours.each do |tour| %>
      <button type="button" class="collapsible-header">Trasa #<%= tour.id %></button>
      <div class="collapsible-content">
        <h3>Atrakcja początkowa: </h3>
        <%= link_to Attraction.find(tour.attraction_start_id), class: "hyperlink" do %> <%=Attraction.find(tour.attraction_start_id).name%> <%end %>
        <h3>Atrakcje poboczne:</h3>
          <ol>
            <% tour.attractions.each do |attraction| %>
              <li>
                <%= link_to attraction, class: "hyperlink" do %>
                <%= attraction.name %>
              </li>
              <%end %>
            <%end %>
          </ol>
          <h3>Atrakcja końcowa: </h3> 
          <%= link_to Attraction.find(tour.attraction_end_id), class: "hyperlink" do %> <%=Attraction.find(tour.attraction_end_id).name%>  <%end %>
          <h3>Koszt trasy za bilety:<%= tour.sumcosts %> zł</h3> 
          <%= link_to "Zobacz dokładny plan trasy", tour ,class:"btn btn-success"%></p>

        <table>
          <% if current_user %>
            <%# else %> <!--remove_from_cart_path(attraction), method: :delete,-->
            <td> <%= link_to "Dodaj do swoich tras",add_to_my_tours_path(tour.id), class:"btn btn-success" %> <td>
            <%# end %> <!-- add_to_cart_path(attraction),-->
            <%# if current_user. include?(tour) %> <!--TODO: Dodaj trasę do konta. Ewentualnie zastapienie koszyka po zapytaniu jesli jest jakas zawartosc-->
<!--            <td> <%#= button_to "Usuń z koszyka", class:"btn btn-danger"%> <td>-->
          <% end %>
        </table>
        <br>
      </div>

  <%end %>
  <br>
</body>

  <script>
      var coll = document.getElementsByClassName("collapsible-header");
      var i;

      for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var content = this.nextElementSibling;
              if (content.style.display === "block") {
                  content.style.display = "none";
              } else {
                  content.style.display = "block";
              }
          });
      }
  </script>

<script>
      $(document).ready(function () { $('.data-toggle').collapse();});
  </script>

</html>