<p>
    Poniżej znajdują się wszystkie Twoje trasy. 
</p>
<% @tours.each do |tour|%>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Przebieg trasy</th>
      <th scope="col">Koszt trasy</th>
    </tr>
  </thead>
  <tbody>
  <% @sum_costs = 0 %>
  <% @start_attraction = Attraction.find(tour.attraction_start_id)%>
  <% @end_attraction = Attraction.find(tour.attraction_end_id)%>
  <% @sum_costs += @start_attraction.price + @end_attraction.price %>
    <tr>
      <th scope="row"><%= tour.id %></th>
        <td>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Atrakcja początkowa</th>
                    <th scope="col">Ciąg atrakcji</th>
                    <th scope="col">Atrakcja końcowa</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td> <%= @start_attraction.name %> </td>
                            <td> -->
                            <% tour.attractions.each do |attraction| %>
                            <%= attraction.name %> -->
                            <% @sum_costs += attraction.price%>
                            <% end %>
                            </td>
                            <td> <%= @end_attraction.name %> </td>
                        </tr>
                    </tbody>
            </table>
        </td>
        <td><%= @sum_costs%></td>
        <td><%= link_to 'Pokaż', tour, class:"btn btn-info"%></td>
    </tr>
  </tbody>
</table>
<%end%>