<p id="notice"><%= notice %></p>

<p>
  <strong>Guide:</strong>
  <%= @tour.guide_id %>
</p>

<p>
  <strong>Attractions:</strong>
  <% @tour.attractions.each do |attraction| %>
    <%= attraction.name %><br>
  <%end %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
