<p id="notice"><%= notice %></p>

<p>

  <% @guide = Guide.find(@tour.guide_id) %>
  <% if !@guide.nil? %>
    <strong>Przewodnik trasy:</strong>
    <%= @guide.name %>
    <%= @guide.surname %>
    <strong> Telefon kontaktowy: </strong>
    <%= @guide.telnumber %>
    <% end %>
</p>

<p>
  <strong>Trasa:</strong>
  Start -->
  <% @tour.attractions.each do |attraction| %>
    <%= attraction.name %> -->
  <% end %>
  Koniec trasy
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
