<!DOCTYPE html>
<html>
<style>

</style>
<%= stylesheet_link_tag "application", "guides", "style_quote"%>

<p id="notice"><%= notice %></p>

<h1 class="header">Przewodnicy</h1>
<p>Planujesz wycieczkę?</p>
<p>Wybierz jednego z <%= @guides.count %> naszych przewodników dodając go do trasy, który dokładniej opowie Ci o atrakcjach:</p>
<br>

<body>
<% i = 0%>
<% @guides.each do |guide| %>
  <% if i%2 == 0 %>
  <div class="container" style="width:100vw;align:center;">
    <div class="left" style="width:50%;float:left; padding-right: 30px;">
     <blockquote>
      <i><%= guide.description%> </i> <br/><br/>~ <b> <%= guide.name_and_surname%> </b>
     </blockquote>
    </div>
    <div class="right" style="float:right; margin:auto">
      <% if !guide.image.blank? %>
        <%= image_tag(rails_blob_url(guide.image), height: '500', width: '500')%>
      <% end %>
    </div>
  </div>
  
<%else%>
  <div class="container" style="width:100vw;align:center;">
    
    <div class="left" style="width:50%;float:left;">
      <% if !guide.image.blank? %>
        <%= image_tag(rails_blob_url(guide.image), height: '500', width: '500')%>
      <% end %>
    </div>

    <div class="right" style="width:50%;float:left;">
      <blockquote>
          <i><%= guide.description%> </i> <br/><br/>~<b> <%= guide.name_and_surname%> </b>
      </blockquote>
    </div>

  </div>
  <div style="clear: both;"></div>
<%end%>
  <% i=i+1 %>
  <br>
  <%if guide != @guides.last%>
  <div style="clear: both;"><br><hr ><br/></div>
  <%end%>
<%end %>
 <div style="clear: both;"></div>
</body>
</html>

      <%# @guides.each do |guide| %>
<!--        <tr>-->
<!--          <td><%#= guide.name %></td>-->
<!--          <td><%#= guide.surname %></td>-->
<!--          <td><%#= guide.telnumber %></td>-->
<!--          <td><%#= link_to 'Show', guide %></td>-->
<!--          <td><%#= link_to 'Edit', edit_guide_path(guide) %></td>-->
<!--          <td><%#= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--        </tr>-->
      <%# end %>


  <%#= link_to 'New Guide', new_guide_path %>
  <%#= link_to 'Main Page', root_path %>

