<!DOCTYPE html>
<html>

<%= stylesheet_link_tag "application", "guides"%>

<p id="notice"><%= notice %></p>

<h1 class="header">Przewodnicy</h1>
<p>Planujesz wycieczkę?</p>
<p>Wybierz przewodnika, który opowie Ci o atrakcjach:</p>
<br>

<body>
<% @guides.each do |guide| %>
  <div class="list-item">
    <div class="list-left"><%= guide.name %>
    <%= guide.surname %></div>
    <div class="list-right">Kontakt: <%= guide.telnumber %></div>
  </div>

  <br>
  <div style="clear: both;"></div>
<%end %>

</body>
</html>

      <%# @guides.each do |guide| %>
<!--        <tr>-->
<!--          <td><%#= guide.name %></td>-->
<!--          <td><%#= guide.surname %></td>-->
<!--          <td><%#= guide.telnumber %></td>-->
<!--          <td><%#= link_to 'Show', guide %></td>-->
<!--          <td><%#= link_to 'Edit', edit_guide_path(guide) %></td>-->
<!--          <td><%#= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--        </tr>-->
      <%# end %>


  <%#= link_to 'New Guide', new_guide_path %>
  <%#= link_to 'Main Page', root_path %>

