<!DOCTYPE html>
<html lang="pl">

<%= stylesheet_link_tag "application"%>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/" style="margin: auto;">
    <%= image_tag("Logo.png", width: '50px') %>

<!--    <div class="header"></div>-->
    BiałystokRoutes
  </a>
  <div class="container-fluid" >
    <button style="margin: auto; width: 25%;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="text-align: center">

<!--        <li class="nav-item" ><%#= link_to "My categories", categories_path, class:"nav-link active"%></li>-->
        <li class="nav-item" ><%= link_to "Dostępne atrakcje", attractions_path, class:"nav-link active"%></li>
        <li class="nav-item" ><%= link_to "Przewodnicy", guides_path , class:"nav-link active"%></li>
        <li class="nav-item" ><%= link_to "Zniżki", discounts_path, class:"nav-link active"%></li>
        <li class="nav-item" ><%= link_to "Przykładowe trasy", tours_path, class:"nav-link active"%></li>
        <%if current_user && current_user.admin%>
        <li class="nav-item" ><%= link_to "Panel administracyjny", rails_admin_path, class:"nav-link active text-danger"%></li>
        <% end %>
      </ul>
      
    </div>
    </div>
  </div>

   <% if current_user %>
        <%= link_to "Koszyk", cart_path, class:"btn btn-outline-success"%>
        <%= link_to "Trasy", my_tours_path,  class:"btn btn-outline-success"%>
        <%= button_to 'Wyloguj się', destroy_user_session_path, class:"btn btn-outline-success",
                                                          method: :delete %>
        </div>
      <% else %>

        <%= link_to 'Zaloguj się', new_user_session_path, class:"btn btn-outline-success" %>
      
      <%end%>

</nav>

</html>