<!DOCTYPE html>
<html>

<%= stylesheet_link_tag "app", "attractions"%>

<p id="notice"><%= notice %></p>

<h1 class="header"> Wybierz atrakcje</h1>
<p>
  Oto oferowane przez nas atrakcje w Białymstoku i okolicy. Możesz się z nimi zapoznać
  klikając na odpowiedni panel, lub dodać do koszyka.
</p>

<body>

<div class="container">
  <% @attractions.each do |attraction| %>

    <%= link_to attraction, class: "hyperlink" do %>

        <div class="item">
          <div id="attraction-image">
          <h4 class="title"><%= attraction.name %></h4>
          <div class="item-details">

            <p><% if attraction.price > 0%>
                <strong>Opłata:</strong>
                <%= attraction.price %>
              <%else %>
                <strong>Obiekt bezpłatny</strong>
              <%end %></p>
            <p>Czas zwiedzania: <%= attraction.sightseeing_time %></p>
            <p><% attraction.categories.each do |category| %>
                <%= category.name %>
              <% end %>
            </p>

            <% if current_user %>
              <% if @cart.include?(attraction) %>
                <%= button_to "Usuń z koszyka", remove_from_cart_path(attraction), method: :delete, class:"btn btn-danger" %>
              <% else %>
                <%= button_to "Dodaj do koszyka", add_to_cart_path(attraction), class:"btn btn-success" %>
              <% end %>
            <% end %>
          </div>
        </div>
        </div>

    <% end %>
  <% end %>
</div>
</body>
<br>

</html>