<p id="notice"><%= notice %></p>

<h1> Wybierz swoje atrakcje! </h1>
<p>
  Poniżej zamieszczono wszystkie atrakcje w Białymstoku i okolicy! Możesz się z nimi zapoznać
  klikając w przycisk "Pokaż", lub od razu dodać do koszyka!
</p>
<table>
  <thead>
    <tr>
      <th>Nazwa obiektu</th>
      <th>Oplata</th>
      <th>Czas zwiedzania</th>
      <th>Kategoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attractions.each do |attraction| %>
      <tr>
        <td><%= attraction.name %></td>
        <td><% if attraction.price > 0%>
            <strong>Opłata:</strong>
            <%= attraction.price %>
          <%else %>
            <strong>Obiekt bezpłatny</strong>
          <%end %></td>
        <td><%= attraction.sightseeing_time %></td>
        <td><% attraction.categories.each do |category| %>
            <%= category.name %>
            <% end %>
            </td>
        <td><%= link_to 'Pokaż', attraction, class:"btn btn-info"%></td>

         <% if current_user %>
          <% if @cart.include?(attraction) %>
         <td><%= button_to "Usuń z koszyka", remove_from_cart_path(attraction), method: :delete, class:"btn btn-danger"%></td>
          <% else %>
          <td><%= button_to "Dodaj do koszyka", add_to_cart_path(attraction), class:"btn btn-success" %></td>
          <% end %>
         <% end %>

        <%if current_user && current_user.admin%>
        
          <td><%= link_to 'Edytuj', edit_attraction_path(attraction), class:"btn btn-danger" %></td>
          <td><%= link_to 'Usuń', attraction, method: :delete, data: { confirm: 'Czy jesteś pewien?' }, class:"btn btn-danger" %></td>
        <%end%>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if current_user && current_user.admin%>     
  <%= link_to 'Nowa atrakcja', new_attraction_path %>
<%end%>

<%= link_to 'Powrót do strony głównej', root_path %>