<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa atrakcji:</strong>
  <%= @attraction.name %>
</p>

<p>
  <strong>Opis obiektu:</strong>
  <%= @attraction.description %>
</p>
<p>

  <% if @attraction.price > 0%>
    <strong>Opłata:</strong>
    <%= @attraction.price %>
  <%else %>
    <strong>Wstęp bezpłatny!</strong>
  <%end %>

</p>
<p>
  <strong>Czas zwiedzania:</strong>
  <%= @attraction.sightseeing_time %>
</p>

<p>
  <ul>
    <% if @attraction.categories %>
      <strong>Rodzaj kategorii:</strong>
      <% @attraction.categories.each do |category| %>
        <li><%= category.name %></li>
      <%end %>
      <% else %>
     <strong>Nie przypisano kategorii dla tego obiektu</strong>
    <% end %>
  </ul>

</p>
<div style='width: 50%;'>
  <div id="map" style='width: 100%; height: 400px;'></div>
</div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7vOoTEHKZlV89hsFiNdshzf74UMM_dnk&callback=initMap&libraries=&v=weekly"
  async
></script>
<script type="text/javascript">
    function initMap() {
        // The location of Uluru
        const uluru = { lat: <%= @attraction.x %>, lng: <%= @attraction.y %> };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 16,
            center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
        });
    }
</script>
<%if current_user && current_user.admin%>     
 <%= link_to 'Edytuj', edit_attraction_path(@attraction) %> |
<%end%>

<%= link_to 'Powrót', attractions_path %>
