<!DOCTYPE html>
<html>

<%= stylesheet_link_tag "application", "attractions"%>

<p id="notice"><%= notice %></p>

  <h1 class="header"><%= @attraction.name %></h1>

<body >

  <% if !@attraction.image.blank? %>
<!--  Zdjecie atrakcji-->
    <div class="item bg-img" style="background-image:url(<%= rails_blob_url(attraction.image); %>);width: 100%;
    height: 100%;
    @include background-image();">

  <% end %>

  <% end %>

  <p style="text-align: justify;"><%= @attraction.description %></p>

  <p style="text-align: justify;">
    <% if @attraction.price > 0%>
      <strong>Opłata:</strong>
      <%= @attraction.price %>
    <%else %>
      <strong>Wstęp bezpłatny!</strong>
    <%end %>

  </p>
  <p style="text-align: justify;">
    <strong>Czas zwiedzania:</strong>
    <%= @attraction.sightseeing_time %>
  </p>

  <p style="text-align: justify;">
    <strong>Kategorie:</strong>
    <ul>
      <% if @attraction.categories %>

        <% @attraction.categories.each do |category| %>
          <li><%= category.name %></li>
        <%end %>
        <% else %>
       <strong>Nie przypisano kategorii dla tego obiektu</strong>
      <% end %>
    </ul>

  </p>

  <div id="map"></div>
  <br>

</body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7vOoTEHKZlV89hsFiNdshzf74UMM_dnk&callback=initMap&libraries=&v=weekly"
  async></script>

<script type="text/javascript">
    function initMap() {
        // The location of Uluru
        const uluru = { lat: <%= @attraction.x %>, lng: <%= @attraction.y %> };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 16,
            center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
        });
    }
</script>


</html>